<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Studentlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add book</h1>
	<div class="container">

        <form action ="#" th:action="@{save}" th:object=" ${book}" method = "post">
            <p>Title: <input type="text" th:field="*{title}"/></p>
            <p>Author: <input type="text" th:field = "*{author}"/> </p>
            <p>ISBN:<input type="text" th:field="*{isbn}"/> </p>
            <p>Price: <input type="number" th:field ="*{price}" /> </p>
            <label for = "catList">Category</label>
            <select id="catList" th:field="*{category}" class="form-control">
                <option th:each = "category:${categories}" 
                th:value = "${category.catId}"
                th:text = "${category.catName}"></option>
            </select>
            <p> <input type="submit" value="Submit"/> </p>

        </form>


	</div>
</body>
</html>